[build]
  cmd = "go run cmd/build/main.go"
  
  bin = "./bin/builder.exe"

  
  args_bin = ["--compress"]
  

  # Watch config
  include_ext = ["go", "md", "html", "css", "js"]
  exclude_dir = ["public", "bin", "tmp", ".git"]
  delay = 250