# .github/workflows/ci.yml
name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      
      - name: Run Tests
        run: go test ./...
      
      - name: Build CLI
        run: go build -o kosh ./cmd/kosh